body{
	background-color: black;
	color: #f4f4f4;
}


table{
	color: #f4f4f4;
	width: 550px;
}


td{
	width: 120px;
	padding: 5px;
}

.tablee{
	padding-top: 150px;
}

.td2{
	color: black;	
}

.td2 input, textarea, select{
	background-color: #f4f4f4;	
	width:250px;
}

#radio_but{
	padding: 0;
	width:75px;
}
