	.asidepos{
		padding-top: 40px;
		color: #EEE2DF;	


	}

	img{
		padding: 3px;
	}
	#head5_alb, #head5_vid{
		border-style: none none double none;
		border-color:#EEE2DF ;
	}

	.audio, .vid{
		width: 100%;
	}
