	body {
		background-color: #2B3D41;   
		width:100%;
	    margin: 0 ;
	    padding: 0 ;
	}

	.top_head{
		position: relative;
		height: 60px;	
		display: block;
		border-color: #EEE2DF;
		}
		
	h1, h5 { 
			
			font: 25px Baskerville , "Palatino Linotype", "Times New Roman", Times, serif;	
			color: #EEE2DF;
			font-style: italic;
		}
		
		

	#head1{
		margin-top: 0;
		width: 100%;
		text-align: center;
		font-size: 40px;	
	}

