	.sect{
		color: #EEE2DF;	
		padding-top: 40px;
		
	}

	#info_table{
		color: #EEE2DF;	
		right: 5%;
		width: 100%;
		background-color: #34494e;
		list-style-type: none;
	}

	table,td,tr{
		border-collapse: collapse;
		overflow: auto;
	}
		
	td{
		vertical-align: top;
		padding: 8px;
	}
		
	tr:nth-child(even){background-color: #3d565c} 

	#head5_inf{
		border-style: none none double none;
		border-color:#EEE2DF ;
		font-size: 20px;
	}

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}